body {
    text-align: center;
    background-color: rgb(211, 46, 46);
}

h1 {
    color: rgb(235, 220, 10);
}

h2 {
    color: rgb(235, 220, 10);
}

h3 {
    color: rgb(235, 220, 10);
}


h4 {
    color: rgb(235, 220, 10);
}

input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(228, 231, 9);
}